@import "variables";
@import "sanitize";
@import "connexion";
@import "dashboard";

.footer-mentions{
    a {
    text-decoration: none;
    color: inherit;
    color: var(--text-muted);

    &:hover{
       filter: brightness(1.5);
    }
}
}

